<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="faq/css/faq.css">

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body{
            background-color: #d3d3d3;
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #777;
        }
        footer {
            width: 100%;
            height: 200px;
            background-color: #181818;
            color: white;
            font-size: 15px;
            text-align: center;
            line-height: 30px;
        }
</style>
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
            <!-- 메뉴의 홈페이지 이름 -->
            <a class="navbar-brand" href="main">EYERS</a>
            <!-- 모바일때 표시되는 메뉴 버튼(PC 버젼에서는 보이지 않는다.)  -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- Home 메뉴 -->
                    <li class="nav-item ">
                        <a class="nav-link" href="main">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notice">공지사항</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="member">역대 회원 정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="freeboard">자유게시판</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="faq">FAQ</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            회원관리
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="logout">로그아웃</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <h2 style="padding-top:80px">FAQ</h2>
    <p><strong>Note:</strong> 자주 묻는 질문들을 모아놓은 페이지입니다.</p>
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    페이지 관리는 누가 하나요?
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    페이지 관리는 대체적으로 동아리 회장이 관리를 합니다. <br>
                    2021년부터 19학번 진의정 학우님이 맡으십니다. :-)
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    페이지 소스 코드를 수정해도 되나요?
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    저작권을 등록한 애플리케이션이 아니고 회원분들이 추후 업데이트를 하는 것이 목적이기 적극적으로 지향합니다. :-)
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    이 사이트를 처음 개발하신 분은 누구시죠?
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    스마트미디어학과 15학번 김우재 학생입니다. <br>
                    핸드폰 번호 : 010-2046-1270
                    이메일 : kwj1270@naver.com
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                    사이트의 목적은 무엇인가요?
                </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    동아리 사이트를 통해 학과 선후배는 물론 졸업 선배님들과의 커뮤니케이션을 위해 개발했습니다.
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                    게시글 작성시 주의 해야할 점이 있나요?
                </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    아무래도 공적인 공간이고 선배님들도 계시니 격식을 차리면 좋겠습니다.
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                    회원정보를 수정하고 싶은데 어떻게 하나요?
                </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    사이트 관리를 하는 동아리 회장님께 말씀드리시고 절차를 통해 하시면 될 것 같습니다.
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
                    비밀번호를 잊어 버렸어요
                </a>
            </div>
            <div id="collapseSeven" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    로그인 창 밑에 아이디와 비밀 번호를 찾는 기능이 있습니
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
                    로그인 없이 사이트를 이용할 수 있나요?
                </a>
            </div>
            <div id="collapseEight" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    기본적으로 로그인을 하고 들어올 수 있게 만들었습니다.
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
                    안드로이드 어플과 연동 되나요?
                </a>
            </div>
            <div id="collapseNine" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    동일한 데이터베이스를 사용하기에 연동이됩니다.
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTen">
                    안드로이드 어플리케이션의 차이가나는 기능이 있나요?
                </a>
            </div>
            <div id="collapseTen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    없습니다.
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<footer class="container-fulid" style="padding-top: 30px;">
    <address>(55069) 전라북도 전주시 완산구 천잠로 303, 424호</address>
    <p>관리자: 김우재 | TEL: 010-2046-1270</p>
    <p class="copy">Copyrights (C)2020 SMARTMEDIA EYERS. ALL RIGHTS RESERVED.</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>