<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta>
    <style>
        .ft-color-blue {
            font-color:blue;
        }


    </style>
    <title>아이디 변경</title>
</head>
<body>
<div class="container">
    <div class="find_text">
        <form action="/api/v1/user/find/id" method="post" class="form-group" id="find_form">
            <div class="form-group">
                <input type="text" name="userName" class="form-control" maxlength="20" placeholder="이름">
            </div>
            <div class="form-group">
                <input type="text" name="userStudentnumber" class="form-control" maxlength="9" placeholder="학번">
            </div>
            <div>
                <button type="button" id="find_button">찾기</button>
            </div>
        </form>
    </div>
</div>
{{>layout/footer}}
<script src="/find/js/find.js"></script>
</body>
</html>