<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>EYERS</title>
</head>
<body class="container">
<div class="jumbotron">
    <h2>자유 게시판</h2>
</div>
<table class="table table-horizontal table-bordered">
    <thead class="thead-string">
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="freeboard: ${freeboards}">
        <td th:text="${freeboard.freeboardSeq}"></td>
        <td><a th:href="@{/freeboard/{seq}(seq = ${freeboard.freeboardSeq})}"  th:text="${freeboard.freeboardTitle}"></a></td>
        <td th:text="${freeboard.freeboardName}"></td>
        <td th:text="${freeboard.freeboardDate}"></td>
    </tr>
    </tbody>
</table>
<button type="button" class="btn btn-default float-right" id="btn-freeboard-write">글쓰기</button>
<nav style="text-align: center;">
    <ul class="pagination"
        th:with="start=${T(Math).floor(freeboards.number/10)*10 + 1},
                    last=(${start + 9 < freeboards.totalPages ? start + 9 : freeboards.totalPages}),
                    last=(${last < 1 ? 1 : last})">
        <li>
            <a class="page-link" th:href="@{/freeboard(page=1)}" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li class="page-item" th:class="${freeboards.first} ? 'disabled'">
            <a class="page-link" th:href="${freeboards.first} ? '#' :@{/freeboard(page=${freeboards.number})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == freeboards.number + 1} ? 'page-item active'">
            <a class="page-link" th:text="${page}" th:href="@{/freeboard(page=${page})}"></a>
        </li>
        <li class="page-item" th:class="${freeboards.last} ? 'disabled'">
            <a class="page-link" th:href="${freeboards.last} ? '#' : @{/freeboard(page=${freeboards.number + 2})}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li >
            <a class="page-link" th:href="@{/freeboard(page=${freeboards.totalPages})}" aria-label="Last">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="freeboards/js/freeboard.js"></script>
</body>
</html>