<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>EYERS</title>
</head>
<body>
<h2>자유 게시판 수정</h2>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <input type="hidden" id="freeboardDate" th:value="${freeboard.freeboardDate}" readonly>
            <div class="form-group">
                <label for="freeboardSeq">글 번</label>
                <input type="text" class="form-control" id="freeboardSeq" th:value="${freeboard.freeboardSeq}" readonly>
            </div>
            <div class="form-group">
                <label for="freeboardTitle">제목</label>
                <input type="text" class="form-control" id="freeboardTitle" th:value="${freeboard.freeboardTitle}">
            </div>
            <div class="form-group">
                <label for="freeboardName"> 작성자</label>
                <input type="text" class="form-control" id="freeboardName" th:value="${freeboard.freeboardName}" readonly>
            </div>
            <div class="form-group">
                <label for="freeboardContent"> 내용</label>
                <textarea class="form-control" id="freeboardContent" th:text="${freeboard.freeboardContent}"></textarea>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-update">수정</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        <button type="button" class="btn btn-secondary" id="btn-list">목록</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../../freeboards/js/freeboard-update.js"></script>
</body>
</html>