{{>layout/header}}
<div class="card align-middle" style="width:20rem; border-radius:20px;" xmlns="http://www.w3.org/1999/html">
    <div class="card-title" style="margin-top:30px;">
        <h2 class="card-title text-center" style="color:#113366;">회원 가입</h2>
    </div>
    <div class="card-body">
        <div class="form-group">
            <form class="form-group" action="join" method="post" onsubmit="return submitCheck();">
                <input type="text" name="user_id" class="form-control" id="user_id" maxlength="20" placeholder="ID" required><br>
                <span id="id_check" for="user_id"></span>
                <input type="password" name="user_pw" class="form-control" minlength="4" maxlength="8" placeholder="PASSWORD" required><br>
                <input type="text" name="user_name" class="form-control" maxlength="20" placeholder="이름" required><br>
                <input type="text" name="user_studentnumber" class="form-control" id="user_studentnumber" maxlength="20" placeholder="학번" onkeypress="inNumber();" required><br>
                <span id="studentnumber_check" for="user_studentnumber"></span>
                <input type="text" name="user_nickname" class="form-control" id="user_nickname" maxlength="20" placeholder="별명" required><br>
                <span id="nickname_check" for="user_nickname"></span>
                <input type="hidden" name="user_role" value="USER" readonly>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Join</button>
                <button type="button" class="btn btn-lg btn-primary btn-block" onclick="location.href='login'">Login</button>
            </form>
        </div>
    </div>
</div>
{{>layout/footer}}
<script>document.body.style.backgroundImage = "url('join/images/bg-02.jpg')";</script>
<script src="join/js/join.js"></script>
{{>layout/end}}