{{>layout/header}}

<!-- Start Nav Section -->
<nav id="navbar" class="navbar">
  <ul class="nav-menu">
    <li>
      <a data-scroll="home" href="#home" class="dot active">
        <span>Home</span>
      </a>
    </li>
    <li>
      <a data-scroll="one" href="#one" class="dot">
        <span>one</span>
      </a>
    </li>
    <li>
      <a data-scroll="two" href="#two" class="dot">
        <span>two</span>
      </a>
    </li>
    <li>
      <a data-scroll="three" href="#three" class="dot">
        <span>Three</span>
      </a>
    </li>
    <li>
      <a data-scroll="four" href="#four" class="dot">
        <span>Four</span>
      </a>
    </li>
  </ul>
</nav>
<!-- End Nav Section -->
<section id="home"></section>
<section id="one"></section>
<section id="two"></section>
<section id="three"></section>
<section id="four"></section>

<footer>
    created by <a href="http://kutar37.tistory.com">kutar37</a>
</footer>
{{>layout/footer}}
{{>layout/end}}
