<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>EYERS</title>
</head>
<body>
<h2>게시글 작성</h2>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="noticeTitle">제목</label>
                <input type="text" class="form-control" id="noticeTitle">
            </div>
            <div class="form-group">
                <label for="noticeName"> 작성자</label>
                <input type="text" class="form-control" id="noticeName" th:value="${session.user.userId}" readonly>
            </div>
            <div class="form-group">
                <label for="noticeContent">내용</label>
                <textarea class="form-control" id="noticeContent"></textarea>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        <button type="button" class="btn btn-secondary" id="btn-list">취소</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../../notices/js/notice-write.js"></script>
</body>
</html>