<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>EYERS</title>
</head>
<body class="container">
<div class="jumbotron">
    <h2>스프링 부트 게시판</h2>
</div>
<table class="table table-horizontal table-bordered">
    <thead class="thead-string">
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    {{#notice}}
        <tr>
            <td>{{noticeSeq}}</td>
            <td><a href="/notice/read/{{noticeSeq}}">{{noticeTitle}}</a></td>
            <td>{{noticeName}}</td>
            <td>{{noticeDate}}</td>
        </tr>
    {{/notice}}
    </tbody>
</table>
<nav style="text-align: center;">
    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#" name="previous">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#" name="page" value="1">1</a></li>
        <li class="page-item"><a class="page-link" href="#" name="page" value="2">2</a></li>
        <li class="page-item"><a class="page-link" href="#" name="page" value="3">3</a></li>
        <li class="page-item"><a class="page-link" href="#" name="page" value="4">4</a></li>
        <li class="page-item"><a class="page-link" href="#" name="page" value="5">5</a></li>
        <li class="page-item"><a class="page-link" href="#" name="next">Next</a></li>
    </ul>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>